#userListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#dataList {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}
