<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        #container {
            padding: 20px;
        }
        ul,li {
            list-style: none;
            display: flex;
        }
        li {
            width: 170px;
            display: flex;
            justify-content: center
        }
    </style>
</head>
<body>
    <div id="container">
        <ul>
            <li>작성자</li>
            <li>제목</li>
            <li>내용</li>
        </ul>
        <form method="post" action="/board/update/{{ board.id }}">
            <input type="text" name="user_id" value="{{ board.user_id }}">
            <input type="text" name="writer" value="{{ board.writer }}">
            <input type="text" name="title" value="{{ board.title }}">
            <input type="text" name="content" value="{{ board.content }}">
            <button type="submit">글 수정</button>
        </form>
    </div>
</body>
</html>