body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#sidebar-toggle {
  display: none;
}

/* 토글 버튼 스타일 */
.toggle-btn {
  position: fixed;
  top: 15px;
  left: 9px;
  background-color: white;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 2;
}

/* 사이드바 토글 시 위치 변경 */
#sidebar-toggle:checked + .toggle-btn + .sidebar {
  left: 0;
}

/* 토글 버튼 */

#sidebar-toggle + label > span {
  position: absolute;
  display: block;
  border-radius: 30px;
  height: 5px;
  width: 100%;
  background: #333;
  transition: all 0.35s;
}

#sidebar-toggle + label > span:nth-child(1) {
  top: 0px;
}

#sidebar-toggle + label > span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

#sidebar-toggle + label > span:nth-child(3) {
  bottom: 0px;
}

#sidebar-toggle:checked + label > span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

#sidebar-toggle:checked + label > span:nth-child(2) {
  opacity: 0;
}

#sidebar-toggle:checked + label > span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
