.line {
    margin: 20px 0;
    width: 100%;
    border: 1px solid gray
}

h3 {
    margin-bottom: 20px;
}

#margin-container {
    background: orange;
    border: 2px solid #333;
}

#margin-container > .margin-item {
    background : gray;
    color :#fff;
    margin: 40px;
    /* 
        margin-top : 요소의 위쪽에 바깥 여백 영역을 설정합니다.
        margin-right : 요소의 오른쪽에 바깥 여백 영역을 설정합니다.
        margin-bottom : 요소의 아랫쪽 바깥 여백 영역을 설정합니다.
        margin-left : 요소의 왼쪽 바깥 여백 영역을 설정합니다.

        px : 고정값으로 사용하는 가장 기본적인 단위로 쓰임
        % : 퍼센테이지 값
    */
    
}