* {
    padding: 0;
    margin: 0;
}
/* 
    핵심은 => 

    1. 주축이 어느 방향이냐
    2. 부모가 충분한 크기를 가지고 있느냐 

    기준

    gap: 10px; : 아이템들을 고정값 또는 상대값으로 여백을 줄 수 있음. 

    flex-direction => 주축 배치 설정 

    row(기본값) : 아이템들이 행(가로) 방향으로 배치 
    column : 아이템들이 열(세로)방향으로 배치 
    row-reverse : 아이템들이 역순으로 가로 배치 
    column-reverse : 아이템들이 역순으로 세로 배치 

    flex-direction: row; 

    justify-content : 주축 방향으로 아이템들을 정렬하는 속성
    flex-start(기본값) : 아이템들을 시작점으로 정렬(배치)합니다.
    flex-end : 아이템들을 끝점으로 정렬(배치)합니다.  
    center : 아이템들을 주축 방향을 기준으로 가운데 정렬.
    space-between : 아이템들의 "사이"에 균일한 간격을 만들어 줍니다.
    space-around : 아이템들의 "사이"에 균일한 간격에서 좀 더 짧은 간격을 만들어준다.

    align-items : 교차축 방향으로 아이템들을 정렬하는 속성
    주의 : 교차축으로 요소를 배치하고 싶다면, 부모요소가 충분한 높이를
    가지고 있는지 확인해야함.
    stretch(기본값) : container 교차축을 채우기위해 Items를 늘림
    flex-start : 아이템들을 각 줄의 시작점으로 정렬
    flex-end : 아이템들을 각 줄의 끝점으로 정렬
    center : 아이템들을 교차축 방향을 기준으로 가운데 정렬
*/
#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    /* align-items: flex-end */
}

.flex-item {
    width: 200px;
    height: 200px;
    background: gray;
}