* {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

#comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.comment-row-list {
    display: flex;
    gap: 20px;
    padding: 20px 0 0 0;
}

.comment-row-list > .comment-content {
    display: flex;
    gap: 10px;
}

.comment-row-list > .comment-content > div:nth-of-type(2) {
    cursor: pointer;
}